.page{
  height: 100%;
}
/****** 头部 *******/
header{
  display: flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  height: 94%;
  color: #fff;
  position: relative;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  &::after{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255,255,255,.8);
    z-index: 0;
  }
  hgroup{
    position: relative;
    z-index: 10;
    display: inline-block;
    padding:10px;
    @include border-radius(5px);
    text-align: center;
    .avatar{
      display: inline-flex;
      align-items: center;
      width: 130px;
      border:10px solid rgba(0,0,0,.3);
      @include border-radius(50%);
      text-align: center;
      img{
        display: inline-block;
        width: 100%;
        @include border-radius(50%);
      }
      &:hover{
        border:10px solid rgba(0,0,0,.5);
      }
    }
    h1 {
      @include linearGradientText(right,$mian-red,$mian-blue,$mian-green);
      font-size:60px;
      font-family:'HanWangT0007f2331b96e1b622';
      font-weight: bold;
      text-align: center;
      span{
        font-size: 14px;
        color: $mian-blue;
      }
    }
    h2 {
      letter-spacing:5px;
      @include linearGradientText(right,$mian-red,$mian-blue,$mian-green, $mian-red-b);
      font-weight: bold;
    }
    a{
      color: inherit;
      text-decoration: none;
      display: inline;
    }
  }
  .split {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    span {
      display: inline-block;
      width: 35%;
      height: 3px;
    }
  }
}

/****** 导航菜单 *******/
nav{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  font-size:18px;
  background-color:$mian-gray-b;
  overflow-x: auto;
  .main-nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    li{
      font-size: 16px;
      padding: 10px 15px;
      position: relative;
      a{
        text-decoration: none;
        font-weight: bold;
      }
      a.blog{
        @include linearGradientText(right,$mian-red,$mian-blue);
        &::after{
          content: ' ';
          position: absolute;
          display: inline-block;
          left: 50%;
          bottom: 0;
          width: 0;
          height: 0;
          overflow: hidden;
          border-width: 6px;
          border-color: transparent transparent $mian-gray-m transparent;
          border-style: dashed dashed solid dashed;
        }
      }
      a.store{
        @include linearGradientText(right,$mian-red-b,$mian-green-b);
      }
      a.categorie{
        @include linearGradientText(right,$mian-green-b,$mian-red-m);
      }
      a.demo{
        @include linearGradientText(right,$mian-yellow-b,$mian-blue-b);
      }
      a.code{
        @include linearGradientText(right,$mian-blue-b,$mian-yellow-b);
      }
      a.map{
        @include linearGradientText(right,$mian-red-b,$mian-green-b);
      }
      a.photo{
        @include linearGradientText(right,$mian-green-m,$mian-green);
      }
      a.read{
        @include linearGradientText(right,$mian-green-m,$mian-blue-b);
      }
      a.ebook{
        @include linearGradientText(right,$mian-blue-m,$mian-gray-m);
        color: transparent;
      }
      a.about{
        @include linearGradientText(right,$mian-gray,$mian-blue);
      }
    }
  }
  .sub-nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    background-color: $mian-gray-m;
    li{
      display: flex;
      align-items: center;
      height: 36px;
      font-size: 14px;
      padding: 0 5px;
      a{
        padding: 3px 5px;
        color: #fff;
        text-decoration: none;
        background-color: $mian-gray-m;
        @include border-radius(5px);
        &:hover{
          color: $mian-red;
          background-color: $mian-yellow;
        }
      }
      .iconfont{
        color:$mian-yellow-b;
      }
    }
  }
}

/****** 内容不符 *******/
.row{
  display: flex;
  justify-content: center;
  padding: 10px 10px 0 10px;
  background-color: $mian-gray-b;
  .row_btn{
    text-align: center;
    padding: 10px 0;
    background-color: #fff;
    font-weight: bold;
    a{
      color: $mian-red-b;
      text-decoration: none;
      &:hover{
        @include linearGradientText(bottom,$mian-red-b,$mian-blue);
      }
    }
  }
  .row_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    &:first-child{margin-right: 5px;}
    &:last-child{margin-left: 5px;}
    .title{
      font-weight: bold;
      padding: 20px 0 10px 0;
      margin-bottom: 10px;
      position: relative;
      &::after{
        content: ' ';
        position: absolute;
        left: 50%;
        top: 0;
        display: inline-block;
        height: 5px;
        width: 20px;
        background-color: $mian-red;
        transform: translateX(-50%);
        transition: all .5s;
      }
    }
    .content{
      img{
        width: 100%;
        max-width: 580px;
        border: 0;
        font-size: 0;
      }
    }
    &:hover{
      .title::after{
        height: 15px;
        border-radius: 0 0 20px 20px;
        box-shadow: 0 0 10px 0 $mian-gray-m;
      }
    }
    &.row_zhuanlan{
      flex:1;
      .title{
        @include linearGradientText(bottom,$mian-blue,$mian-green-b);
      }
      .content{padding: 0 5px;}
    }
    &.row_store{
      flex: 2;
      .title{
        @include linearGradientText(bottom,$mian-red-b,$mian-blue);
      }
      .content{
        display: flex;
        flex-direction: column;
        background-color: $mian-gray-b;
        .row_store_item{
          display: flex;
          .item{
            text-align: center;
            background-color: #fff;
            &:first-child{
              margin-right: 1px;
            }
            &:last-child{
              margin-left: 1px;
            }
            .info{
              padding: 10px 0;
              h3,span{font-size: 14px;}
              h3{
                font-weight: bold;
              }
              span{
                color: $mian-gray;
              }
            }
          }
        }
      }
    }
  }
  .row_maps{
    width: 100%;
    // background-color: antiquewhite;
    &:first-child,
    &:last-child{margin: 0;}
    .title{
      @include linearGradientText(bottom,$mian-green-b,$mian-blue);
    }
    .content{
      padding: 0 10px 10px 10px;
      width: 90%;
      #my-maps{
        // border: 1px solid #ccc;
        width: 100%;
        height: 550px;
      }
    }
  }
}

@media screen and (max-width: 640px) { 
  nav{
    .main-nav{
      li{
        a.blog::after{display: none;}
      }
    }
    .sub-nav{
      li{padding: 3px 5px;}
    }
  }
  .row{
    flex-direction: column;
    .row_box{
      width: 100%;
    }
    .row_box{
      &.row_zhuanlan{
        margin-right: 0;
        .content{
          padding: 0;
          background-color: $mian-gray-b;
        }
      }
      &.row_store{
        margin-left: 0;
        .content{
          .item{
            flex:1;
            width: 100%;
            .info{
              h3,span{font-size: 12px;}
            }
            &:last-child{display: none;}
          }
        }
      }
    }
    .row_maps{
      .content{
        padding: 0 0 10px 0;
        width: 100%;
        #my-maps{
          height: 350px;
        }
      }
    }
  } 
}