.page{
  height: 100%;
}
/****** 头部 *******/
header{
  display: flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  height: 40%;
  color: #fff;
  position: relative;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  hgroup{
    h1 {
      @include linearGradientText(right,$mian-red,$mian-blue,$mian-green, $mian-yellow-b);
      font-size:60px;
      font-family:'jdzhonyuanjianf1da1f01d1b622';
      font-weight: bold;
      text-align: center;
      span{
        font-size: 12px;
        color: $mian-gray-m;
      }
    }
    h2 {
      letter-spacing:5px;
      @include linearGradientText(right,$mian-red,$mian-blue,$mian-green, $mian-yellow-b);
      font-weight: bold;
    }
    a{
      color: inherit;
      text-decoration: none;
      display: inline;
    }
  }
  .split {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    span {
      display: inline-block;
      width: 35%;
      height: 3px;
    }
  }
}

/****** 导航菜单 *******/
nav{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  font-size:18px;
  background-color:$mian-gray-b;
  overflow-x: auto;
  .main-nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    li{
      font-size: 16px;
      padding: 10px 15px;
      a{
        text-decoration: none;
        font-weight: bold;
      }
      a.blog{
        background: linear-gradient(to right,$mian-red,$mian-blue);
        -webkit-background-clip: text;
        color: transparent;
      }
      a.store{
        background: linear-gradient(to right,$mian-red-b,$mian-green-b);
        -webkit-background-clip: text;
        color: transparent;
      }
      a.categorie{
        background: linear-gradient(to right,$mian-green-b,$mian-red-m);
        -webkit-background-clip: text;
        color: transparent;
      }
      a.demo{
        background: linear-gradient(to right,$mian-yellow-b,$mian-blue-b);
        -webkit-background-clip: text;
        color: transparent;
      }
      a.code{
        background: linear-gradient(to right,$mian-blue-b,$mian-yellow-b);
        -webkit-background-clip: text;
        color: transparent;
      }
      a.map{
        background: linear-gradient(to right,$mian-red-b,$mian-green-b);
        -webkit-background-clip: text;
        color: transparent;
      }
      a.photo{
        background: linear-gradient(to right,$mian-green-m,$mian-green);
        -webkit-background-clip: text;
        color: transparent;
      }
      a.read{
        background: linear-gradient(to right,$mian-green-m,$mian-blue-b);
        -webkit-background-clip: text;
        color: transparent;
      }
      a.ebook{
        background: linear-gradient(to right,$mian-blue-m,$mian-gray-m);
        -webkit-background-clip: text;
        color: transparent;
      }
      a.about{
        background: linear-gradient(to right,$mian-gray,$mian-blue);
        -webkit-background-clip: text;
        color: transparent;
      }
    }
  }
  .sub-nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    background-color: $mian-gray-m;
    li{
      padding: 10px 15px;
      font-size: 14px;
      a{
        color: #fff;
        text-decoration: none;
      }
      a.main{
      }
      .iconfont{
        color:$mian-yellow-b;
      }
    }
  }
}

/****** 内容不符 *******/
.container{
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: $mian-gray-b;
  .container_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    &:first-child{margin-right: 5px;}
    &:last-child{margin-left: 5px;}
    .title{
      font-weight: bold;
      padding: 20px 0 10px 0;
      margin-bottom: 10px;
      position: relative;
      &::after{
        content: ' ';
        position: absolute;
        left: 50%;
        top: 0;
        display: inline-block;
        height: 15px;
        width: 20px;
        background-color: $mian-red;
        border-radius: 0 0 20px 20px;
        transform: translateX(-50%);
        transition: all .5s;
      }
    }
    .content{
      img{
        width: 100%;
        max-width: 580px;
        border: 0;
        font-size: 0;
      }
    }
    &.container_zhuanlan{
      flex:1;
      .title{
        @include linearGradientText(bottom,$mian-blue,$mian-green-b);
      }
      .content{padding: 0 5px;}
    }
    &.container_store{
      flex: 2;
      .title{
        @include linearGradientText(bottom,$mian-red-b,$mian-blue);
      }
      .content{
        display: flex;
        flex-direction: column;
        background-color: $mian-gray-b;
        .container_store_item{
          display: flex;
          .item{
            text-align: center;
            background-color: #fff;
            &:first-child{
              margin-right: 1px;
            }
            &:last-child{
              margin-left: 1px;
            }
            .info{
              padding: 10px 0;
              h3,span{font-size: 14px;}
              h3{
                font-weight: bold;
              }
              span{
                color: $mian-gray;
              }
            }
          }
        }
        .container_store_btn{
          text-align: center;
          padding: 10px 0;
          background-color: #fff;
          font-weight: bold;
          a{
            color: $mian-red-b;
            text-decoration: none;
            &:hover{
              @include linearGradientText(bottom,$mian-red-b,$mian-blue);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 640px) { 
  nav{
    .sub-nav{
      li{
        padding: 3px 5px;
      }
    }
  }
  .container{
    flex-direction: column;
    .container_box{
      width: 100%;
    }
    .container_box{
      &.container_zhuanlan{
        margin-right: 0;
        .content{
          padding: 0;
          background-color: $mian-gray-b;
        }
      }
      &.container_store{
        margin-left: 0;
        .content{
          .item{
            flex:1;
            width: 100%;
            .info{
              h3,span{font-size: 12px;}
            }
            &:last-child{display: none;}
          }
        }
      }
    }
  } 
}